
<!--Department Search bar partial View-->

<div class="row" style="padding: 0 0.75rem 1.5rem 0.75rem; width:75%;" onload="SeachTrigger()">
    <div class="input-group mt-1 mb-1">
        <div class="row row-cols-auto"> 
            <!--Search input form field-->
            <div class="col-sm-6 position-absolute top-0 start-0">
                <input id="search-filter"class="form-control me-2 form-label" type="text" placeholder="Search" aria-label="Search" />
            </div>
            <!--Search button to submit form field data-->
            <div class="col-sm-3">
                <div class="input-group-append">
                    <button id="search-button" class="btn btn-outline-light position-absolute top-0 start-50" type="button">Search</button>
                </div>
            </div>
        </div>  
    </div>
</div>
    
