
<!--Department Search bar partial View-->

<div class="row">
    <div class="input-group mt-1 mb-1">
        <input id="search-filter" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</div>
    
