
<!--Department Search bar partial View-->

<div class="row">
    <div class="input-group mt-1 mb-1">
        <div class="row"> 
            <div class="col-6 position-absolute top-0 start-0"><input id="search-filter"class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /></div>
            <div class="col-6 "><button id="search-button" class="btn btn-outline-info position-absolute top-0 end-0" type="submit">Search</button></div>
        </div>  
    </div>
</div>
    
