@model List<string>
@{
    ViewBag.Title = "Processing Errors";
}
@section title_section {
    <h2 style="color:orangered;text-align:center;">Validation or Other Errors</h2>
}

<div id="output" class="container-fluid">
    <h3 style="color:darkorange;">Error List</h3>
    @{
        List<string> errorMessage = new List<string>();

        // Check if the ModelState is valid and if there are any errors in the ModelState
        if (Model is not null && Model.Count > 0)
        {
            <ul>
                <!--Loop through the ModelState to collect error messages-->
                @foreach (var error in Model)
                {
                    <li>@error</li>
                    errorMessage.Add(error);
                }
            </ul>

            <!--end error list-->
        }
    }<!--end C# codeblock to parse through List<string> input params-->
    <a href='/departments/' class="btn btn-outline-warning">Back</a>
</div><!--end output-->
<!--end ErrorsView-->
