@page
@model NET_9_Business_App_MVC_CRUD.Pages.Employees.CreateModel
@{
    ViewData["Title"] = "Edit Employee";
    ViewBag.Action = "edit";
}
<div class="center">
    <div class='container-fluid'>
        @section title_section {
            <h3 style="color:orange;">Edit Employee</h3>
        }
        <br />
        
    </div><!--end container-->
</div><!--end center class-->
