@page "{employeeId:int}"
@model NET_9_Business_App_MVC_CRUD.Pages.Employees.EditModel
@{
    ViewData["Title"] = "Edit Employee";
    ViewBag.Action = "edit";
}
<div class="center">
    <div class='container-fluid'>
        @section title_section {
            <h3 style="color:yellowgreen;">Edit Employee</h3>
        }
        <br />

        @await Html.PartialAsync("_EmployeeDetail", Model.EmployeeViewModel) 
        
        <button href="/employees" class="btn btn-outline-primary btn-sm" style="width:3.75rem;">Back</button>
    </div><!--end container-->
</div><!--end center class-->
