@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Something,Something Darkside</title>
    <link href="~/Views/styles.css" rel="stylesheet" />
        </head>
    <body>
        <h1>Welcome to the Departments Manager Home Page</h1>
        <p>Here we will give you options on what you want to do with your departments.</p>
        <br />
        <p>Use the link below to explore different options for the departments.</p>
        <br />
        <a href="@Url.Action("Index", "Departments")">Go to Departments</a>
    </body>
</html>


