@model Department
@{
    ViewBag.Title = "Create a Department";
    ViewBag.Action = "create";
}
@section title_section {
    <h2 style="color:green;">Create Department</h2>
}
<!--Create View Departments-->
<style>

    h2 {
        color: green
    }
</style>
<div class="container-fluid">
        <div class="center">
        <!--main Form body-->
            
        <!--inject Form body-->
            @await Html.PartialAsync("_DetailsForm", @Model)

        <!--Cancel button to /departments-->
        <form method='get' action='/departments'>
            <button type='submit' class="btn btn-outline-primary btn-sm">Cancel</button>
        </form>

           
        </div><!--end class center-->
    </div>
<!--end container-->
