@model Department
@{
    ViewBag.Title = "Department Details";
    ViewBag.Action = "edit";
}
@section title_section {
    <h2 style="color:dodgerblue;">Department Details</h2>
    
}
<!--Details View Departments-->
<div class='center'>
   <div class="container-fluid">
        <!--main Form body-->
       
        <!--inject Form body-->
        @await Html.PartialAsync("_DetailsForm", @Model)

        <!--Cancel button to /departments-->
        <div >
            <form method='get' action='/departments'>
                <button type='submit' class="btn btn-outline-primary btn-sm" style="margin-top:0.75rem;">Cancel</button>
            </form>
        </div>
   </div><!--end container-->
   <!--Delete button-->
    <form style="padding-left:0.75rem; margin-top:0.75rem;" method='post' action='/departments/delete/@Model.DepartmentId'>
    <button type='submit' class="btn btn-outline-danger btn-sm">Delete</button>
   </form>
</div><!--end center class-->
<br />

<!--TODO: text area for department description-->
@*  <label for="DepartmentDescription" class="form-label">Department Description</label>
  <textarea 
  asp-for="@Model.DepartmentDescription"
  data-val="true"
  data-val-maxlength="The field MainText must be a string or array type with a maximum length of &#x27;300&#x27;."
  data-val-maxlength-max="300"
  class="form-control"
  id="DepartmentDescription" rows="3">
  </textarea> *@