@using NET_9_Business_App_MVC.Models
@model Department
@{
    Layout = "_Layout";
}
<div class='center'>
    <div class="container-fluid">
            <h1>Department Details</h1>
            <br />
            <form method='post' action='/departments/edit'>
                <input type='hidden' name='DepartmentId' value='@Model.DepartmentId' />
                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Name: </label>
                    </div>
                    <div class=" col-sm-6">
                        <input type='text' name='DepartmentName' value='@Model.DepartmentName' class="form-control" />
                    </div>
                </div>
                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Location: </label>
                    </div>
                    <div class=" col-sm-6">
                        <input type='text' name='DepartmentLocation' value='@Model.DepartmentLocation' class="form-control" />
                    </div>
                </div>
                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Description: </label>
                    </div>
                    <div class=" col-sm-10">
                        <input type='text' name='DepartmentDescription' value='@Model.DepartmentDescription' class="form-control" />
                    </div>
                </div>
                <button type='submit' class="btn btn-outline-success">Update</button>
            </form>
            <br /><br />
            <form style='padding-top:0.65rem;' method='post' action='/departments'>
                <a href='/departments/' class="btn btn-outline-warning">Cancel</a>
                 <br />
            </form>
            <form style='padding-top:0.65rem;' method='post' action='/departments/delete/@Model.DepartmentId'>
                <button type='submit' class="btn btn-outline-danger">Delete</button>
            </form>
        
    </div><!--end container-->
</div><!--end center-->
