@model Department
<!--Edit View Departments-->
@{
    ViewBag.Title = "Department Edit";
    ViewBag.Action = "edit";
}
@section title_section {
    <h2>Department Details</h2>
}
<div class='center'>
    <div class="container-fluid">
        <!--main Form body-->
        <form method='post' action='/departments/edit/@Model.DepartmentId'>

            <!--inject Form body-->
            @await Html.PartialAsync("_DetailsForm", @Model)

            <!--button to Create Department-->
            <button type='submit' class="btn btn-outline-success">Create</button>

        </form><!--end main Form body-->
        
    </div><!--end container-->
</div><!--end center-->
