<!-- <title></title> element for page and action type-->
@{
    ViewBag.Title = "Departments List";
    ViewBag.Action = "edit";
}
@section title_section {
    <h2>Department Details</h2>
}
<!--Index View Departments-->
<div class="center">
    <div class='container-fluid'>
        @* <div style="padding-bottom:1.5rem;">
            @await Html.PartialAsync("_SearchBar")
        </div> *@
        <div class='header' style="padding-bottom:0.75rem;">
            <a class="btn btn-outline-success btn-sm" href='/departments/create'>Create</a>
        </div>
        @if (Model is not null)//null check of the model
        {
            <!--Table section for display of Departments data-->
            <table class="table-dark" >
                <!--TODO: Change this to a dl, dd, dt set instead of table for better accessibility-->
                <!--Table Head-->
                <thead style="text-align:center;">
                    <tr>
                        <th>Department Id</th>
                        <th>Department Name</th>
                        <th>Department Location</th>
                        <th>Department Description</th>
                        <th>Department Annual Sales</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <!--Table Body-->
                <tbody id="department-list" style="text-align:center;">

                    <!--Partial View method-->
                    @* <!--@await Html.PartialAsync("_DepartmentList")--> *@
                
                    <!--ViewComponent method-->
                    @await Component.InvokeAsync("DepartmentList")

                </tbody>
            </table><!--end table-->
        }
  </div><!--close container-->
</div><!--close center class-->
<!--End of Index View Departments-->

<!--script section for Search Bar functionality-->
<script>

        
</script>
