@model IEnumerable<Department>

@{
    ViewBag.Title = "Departments Home";
}

@section title_section {
    <h2>Departments</h2>
}
<!--Index View Departments-->
<div class="center">
  <div class='container'>
        <div class='header' style="padding-bottom:0.75rem;">
            <a class="btn btn-outline-success btn-sm" href='/departments/create'>Create</a>
        </div>
        @if (Model is not null)
        {
            <table class="table-dark">
                <thead style="text-align:center;">
                    <tr>
                        <th>Department Id</th>
                        <th>Department Name</th>
                        <th>Department Location</th>
                        <th>Department Description</th>
                        <th>Department Annual Sales</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody style="text-align:center;">
                    @await Html.PartialAsync("_DepartmentList", @Model)
                </tbody>
            </table>
        }
  </div><!--close container-->
</div><!--close center class-->
