@using NET_9_Business_App_MVC.Models
@using System.Collections

@model IEnumerable<Department>
@{
    Layout = "_Layout";
};
<div class="center">
  <div class='container'>
     <div class='header'>
                <h2>Departments List</h2>
            <a class="btn btn-outline-success btn-sm" href='/departments/create'>Create</a>
            </div>
        <table class='table table-striped'>
                <thead>
                          <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                            <th>Department Location</th>
                            <th>Department Decription</th>
                            <th colspan="3">Actions</th>
                           </tr>
                       </thead>
                <tbody>
                       @{
                         if (Model is not null)
                        {
                            foreach (var department in Model)
                            {
                                <tr>
                                    <td>@department.DepartmentId</td>
                                    <td>@department.DepartmentName</td>
                                    <td>@department.DepartmentLocation</td>
                                    <td>@department.DepartmentDescription</td>
                                    <td><a class="btn btn-outline-primary btn-sm" href='/departments/details/@department.DepartmentId'>Edit</a></td>
                                </tr>
                            }<!--end foreach block-->
                        }//end Model null check
                       }<!--end C# code block-->
                </tbody><!--close table body-->
            </table><!--close table body-->
     </div><!--close container-->
</div><!--close center class-->
